@use "sass:math";
$max: 20;

.bubble {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;

  @for $bubble from 1 through $max {
    &-#{$bubble} {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      opacity: (math.random(120)) * 0.01;
      left: #{math.random(100)}vw;
      top: #{math.random(100)}vh;
      // background-color: rgb(random(255), random(255), random(255));
      background-color: #ffffff9b;
      box-shadow: 0px 0px 20px #ffffff6d;
      animation: move-#{$bubble} #{30 + $bubble * 0.02}s infinite;
      transform: scale((math.random(200) + 5) * 0.01);
    }
  }
}

@for $bubble from 1 through $max {
  @keyframes move-#{$bubble} {
    #{math.random(30) + 30}% {
      transform: translateY( #{math.random(100) - 100}vh);
    }
  }
}
